In [ ]:
a=5
print("I am ",a,"years old")

I am  5 years old

In [ ]:
a=5
b=32
print(a+b)

37

In [ ]:

print(2**5)

32

In [ ]:
print(2//5)

0

In [ ]:
a=6
b=5
print(a==b)
print(a<=b)
print(a<b)

False
False
False

In [ ]:
#logicasl
a=5
b=6
print((a==b) and (a<=b))
print((a==b) or (a<=b))

False
True

In [ ]:
a= "Priate"
print("a" in a)
print("a" not in a)

True
False

Control flow
[link text](https://)

In [ ]:
a=int(input("Enter n value"))
if(a<0):
  print("is negitive")
elif(a==0) :
  print("is netheir positive nor negitve")
else:

  print("is negitive")

Enter n value798787789879
is negitive

In [ ]:
for i in range(1,11,1):
  a=4*i
  print(a)

4
8
12
16
20
24
28
32
36
40

In [ ]:
n=4
i=0
while(i<=11):
  a=n*i
  i=i+1
  print(a)

0
4
8
12
16
20
24
28
32
36
40
44

In [ ]:
a=[]
b=[2,23,87]
for i in range(1,11,1):
  a.append(i)



a.insert(3,7)
print(a)



print(min(a))

[1, 2, 3, 7, 4, 5, 6, 7, 8, 9, 10]
1

In [ ]:
l2 = [i**2 for i in a]

In [ ]:
l2 = [i**2 for i in a if i<50]
print(l2)

[1, 4, 9, 49, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#the salarry of 5 emp in company is taken as a list .The

sal=[67000,45000,89000,34000,50000]
sal1=[0.1*i for i in sal if i<=50000]
sal2=[0.15*i for i in sal if i>50000]

sal1.extend(sal2)
print(sal1)

[4500.0, 3400.0, 5000.0, 10050.0, 13350.0]

In [ ]:
sal3=[0.1*i if i<=50000 else 0.15*i for i in sal]
print(sal3)+

[10050.0, 4500.0, 13350.0, 3400.0, 5000.0]